[Unit]
Description=Granular Noise Synthesizer
After=sound.target

[Service]
Type=simple
User=granular
WorkingDirectory=/home/granular/raspberry_midi16cc
ExecStart=/home/granular/raspberry_midi16cc/scripts/start.sh
Restart=on-failure
RestartSec=10
Environment=JACK_NO_AUDIO_RESERVATION=1
LimitRTPRIO=95
LimitMEMLOCK=infinity
Nice=-10

[Install]
WantedBy=multi-user.target
